@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Add this to your global CSS file */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

*{
  font-family: "Nunito Sans", serif;
}

.pentagon {
/* Tailwind utilities */
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px 0px, rgba(0, 0, 0, 0) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.custom-round {
  border-bottom-right-radius: 999px;
}

@media screen and (max-width:768px){
  .pentagon {
    clip-path: polygon(0 0, 100% 0%, 100% 99%, 0% 100%);
  }

  .custom-round {
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 0px;
  }
}

/* Make event full width and height inside the date box */
.rbc-event {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px !important;
}
